{% extends '/base.html.twig' %}

{% block body %}
    <h1>Ajouter une série </h1>
{% endblock %}

{% block title %}
    {# parent() récupère le contenu du bloc parent #}
    {{ parent() }} | Add
{% endblock %}

