{% extends '/base.html.twig' %}

{% block body %}
    <h1>List of Series !</h1>
{% endblock %}

{% block title %}
    {# parent() récupère le contenu du bloc parent #}
    {{ parent() }} | List
{% endblock %}